@charset "UTF-8";
/* html {
      font-size: 62.5%;
} */

body {
      font-family: Helvetica, 游ゴシック, "Yu Gothic", YuGothic, HiraKakuProN-W3, メイリオ, Meiryo, sans-serif;
}

a {
      color: white;
      /* リンク下の下線を消す */
      text-decoration: none;
      /* ふわっとホバーさせる */
      /* transition: .2s ease-in-out; */
}

a:hover {
      text-decoration: none;
}

/* p{
      word-break: break-all;
} */

.mobile-br {
      display: none;
}

/* .wrap{
      max-width: 1140px;
      width:100%;
      margin: 0 auto;
      }
      .wrap_inner{
      padding: 0 2.5%;
      }
      @media screen and (min-width:1140px) {
      .wrap_inner{
      padding: 0 25px;
      }
      }
      @media screen and (max-width:480px) {
      .wrap_inner{
      padding: 0 4%;
      }
} */

/* commonシート */
.common-small-title {
      text-align: center;
      color: #00abae;
      font-size: 24px;
      font-weight: 600;
      margin-top: 20px;
}

.common-title {
      text-align: center;
      font-weight: 800;
      -webkit-text-stroke-width: 1px;

}

.common-btn-area {
      position: relative;
}

.common-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%)translateX(-50%);
      -webkit-transform: translateY(-50%)translateX(-50%);
      margin: auto;
      background: #303030;
      font-weight: 800;
      text-align: center;
      width: 420px;
      padding: 16px;
      /* text-decoration: none; */
}

/* header */
.header {
      position: fixed;
      /* top/left/rigthを０設定することでheigth内に収める */
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      height: 80px;
}

.header-logo {
      margin: auto 0;
      margin-left: 30px;
}

.header-btn {
      width: 320px;
      text-align: center;
      background-color: #303030;
      position:relative;
}

.header-btn p {
    font-weight: 600;
    width: 250px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

/* fv */
.fv {
      margin-top: 80px;
}

.fv-main {
      display: flex;
}

.fv-img {
      width: 75%;
}

.fv-img img {
      width: 100%;
}

.mobile-fv-img{
      display: none;
  }  

.fv-message {
      position: relative;
      width: 35%;
      text-align: center;
      background-color: #00abae;
      color: white;
}

.fv-txt h2 {
      font-size: 5rem;
      font-weight: 800;
      -webkit-text-stroke-width: 1px;
}

.fv-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.fv-day {
      font-size: 2.5rem;
      font-weight: 800;
      -webkit-text-stroke-width: 1px;
}

.fv-time {
      font-size: 2rem;
      font-weight: 800;
}

.fv-sub {
      font-weight: 400;

}

/* about */
.about {
      padding: 80px 10%;
}
  
.about-main {
      display: flex;
}
  
.about-title {
      font-size: 3rem;
      font-weight: 800;
}
  
.about-message {
      font-size: 1rem;
      margin: 80px 0;
      line-height: 2;
}
  
.about-img {
      text-align: left;
      margin-left: 80px;
}

/* facility */
/* .facility {
}

.facility-main {
} */

.facility h3 {
      font-size: 2rem;
      font-weight: 900;
      text-align: center;
      margin-top: 30px;
}

.facility-icon {
      text-align: center;
      margin: 40px;
}

.facility-icon img {
      margin: 16px;
}

.facility-space-icon {
    text-align: center;
    background: rgba(0, 171, 174, 0.1);
    padding: 32px 0;
}

/* feature */
.feature h3 {
      font-size: 2rem;
      font-weight: 900;
      text-align: center;
      margin-top: 30px;
}

.feature-content {
      text-align: center;
      margin-bottom: 80px;
      margin-top: 70px;
}

.feature-content-title {
      font-weight: 800;
      margin: 24px 0;
}

.feature-content-message {
      width: 320px;
      margin: 0 50px;
}

.mobile-facility-icon{
      display: none;
  }

/* flow */
.flow {
      padding: 160px 0;
}

/* .flow-attention{
      margin-top: 24px; */
      /* font-size: 8px; */
      /* text-align: center;
  } */

/* .flow-main {}

.flow-content {}

.flow-content-title {} */

/* price */
.price-img {
      margin: 32px auto;
      width: 56%;
      text-align: center;
      text-align: left;
}

.price {
      background: rgba(0, 171, 174, 0.1);
      padding: 24px 0;
      padding-bottom: 80px;
}

.price-message {
      padding-bottom: 72px;
  }

.small-text {
      font-size: small;
}

.table-price {
      margin-bottom: 80px;
      margin-top: 60px;
}

.table-price2 {
      margin-bottom: 80px;
}

.table-bordered {
      margin-bottom: 80px;
}

.table-bordered th{
      background: #303030;
      color: #ffffff;
}

/* Map */
.map {
      padding-top: 72px;
      text-align: center;
}

/* .map-main {
} */

.map-message {
      text-align: center;
      margin-top: 24px;
}

.map-message p {
      margin-bottom: 80px;
}

.map img {
      padding-bottom: 80px;
}

/* footer */
footer {
      text-align: center;
      position: relative;
}

footer img {
      width: 100%;
}

footer p {
      position: absolute;
      color: white;
      top: 24px;
      left: 50%;
      transform: translateY(-50%)translateX(-50%);
      margin: auto;
}

/* レスポンシブ対応 */
@media screen and (min-width: 1200px) {
      /* .about-img{
          display: none;
      } */
      .mobile-facility-icon{
            display: none;
        }
  }
  
  @media screen and (max-width: 1024px) {
      /* header */
      .header-logo{
          margin: auto ;
      }
  
      .header-btn{
          display: none;
      }
  
      /* fv */
      .fv-txt h2{
          font-size: 3rem;
      }
  
      .fv-day{
          font-size: 1rem;
          margin: 0;
      }
  
      .fv-time{
          font-size: 1.5rem;
          margin: 0;
      }
  
      .fv-sub{
          margin: 0;
      }
  
      /* about */
      .about{
          padding-bottom: 0;
      }
      .about-res-img{
          display: none;
      }

      .mobile-facility-icon{
            display: none;
        }
  }
  
  @media screen and (max-width: 480px) {
      /* common */
      .common-btn{
          width: 320px;
      }
  
      .mobile-br{
          display: block;
      }
  
      /* fv */
      .fv-img{
          display: none;
      }
  
      .mobile-fv-img{
          display: block;
          width: 50%;
      }
  
      .mobile-fv-img img{
          width: 100%;
      }
  
      .fv-message{
          width: 50%;
      }
  
      .fv-txt h2{
          font-size: 2rem;
      }
  
      .fv-day{
          font-size: 1rem;
          margin: 0;
      }
  
      .fv-time{
          font-size: 1rem;
          margin: 0;
      }
  
      .fv-sub{
          margin: 0;
          font-size: 8px;
      }
  
      /* about */
      .about{
          padding: 40px 0;
      }
  
      .about-title{
          font-size: 24px;
      }
  
      .about-message{
          margin: 40px 0;
      }
  
      /* facility */
      .facility-icon{
          display: none;
      }
  
      .mobile-facility-icon{
          margin: 16px;
          text-align: center;
          display: block;
      }

      /* feature */
      .feature-content-message {
            margin: 0 60px 40px;
            text-align: center;
      }
  
      /* flow */
      .flow{
          padding: 80px 0;
      }
  
      /* price */
      .price{
          margin-bottom: 72px;
      }
  
      .price-img{
          width: 100%;
      }
  
      /* map */
      .map{
          padding-top: 0;
      }
  
      .map img{
          padding-bottom: 44px;
      }
  
      .map-message p{
          margin-bottom: 44px;
      }
  
      .table-price{
          margin-bottom: 72px;
      }
  
  }
  
  @media screen and (max-width: 320px) {
      
      .common-btn {
          width: 280px;
      }
      
      .about-title{
          font-size: 22px;
      }
  }